*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: Helvetica, Sans-Serif;
	overflow-x: hidden;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}
header div
{
	display: flex;
	align-items: center;
}
header div h4 a
{
	color: #3a4856;
	text-decoration: none;
}
header div span
{
	color: #dcdcdc;
	margin: 0 40px;
}
.container
{
	display: flex;
}
.container .sidebar
{
	background: #00477c;
	padding: 52px 120px;
}
.container .sidebar h4
{
	color: #fff;
	margin-bottom: 36px;
}
.container .sidebar h4,
.container .main h2
{
	position: relative;
	margin-left: 28px;
}
.container .sidebar h4.active::before,
.container .main h2::before
{
	position: absolute;
	content: '';
	top: -5px;
	left: -24px;
	width: 4px;
	height: 28px;
	background: #4babe9;
}
.container .sidebar h4:last-child
{
	margin-bottom: unset;
}
.container .main
{
	flex: 1;
	background: #f8f8f8;
	padding: 30px 24px;
}
.container .main h2
{
	color: #004e84;
	margin-bottom: 30px;
}
.container .main h2::before
{
	top: 0;
}
.container .main .card
{
	background: #fff;
	border-radius: 8px;
	padding: 30px;
}
.container .main .card img
{
	width: 734px;
	height: 415px;
	object-fit: cover;
	object-position: center;
}
footer
{
	padding: 24px;
}
footer p
{
	font-size: 14px;
}

@media (max-width: 1400px)
{
	header
	{
		padding: 16px 80px;
	}
	.container .sidebar
	{
		padding: 52px 80px;
	}
}

@media (max-width: 1267px)
{
	header
	{
		padding: 16px 40px;
	}
	.container .sidebar
	{
		padding: 52px 40px;
	}
}

@media (max-width: 627px)
{
	header
	{
		padding: 16px;
	}
}

@media (max-width: 601px)
{
	header img
	{
		width: 180px;
	}
}