*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: Helvetica, Sans-Serif;
	overflow-x: hidden;
}
header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 16px 120px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
	z-index: 100;
}
header .nav
{
	display: flex;
	align-items: center;
}
header .nav h4 a
{
	color: #3a4856;
	text-decoration: none;
}
header .nav span
{
	color: #dcdcdc;
	margin: 0 40px;
}
header .btn-menu
{
	display: none;
}
header .btn-menu,
header .btn-close
{
	position: absolute;
	right: 24px;
	cursor: pointer;
}
header i
{
	color: #fff;
	background: #18abe3;
	border-radius: 50%;
	padding: 8px 9px;
}
header .side-nav
{
	width: 280px;
	height: 100vh;
	position: absolute;
	top: 92px;
	left: -100%;
	background: #00477c;
	padding-top: 24px;
	overflow: hidden;
	transition: 0.6s ease;
	transition-property: left;
	z-index: 10;
}
header .side-nav.active
{
	left: 0;
}
header .btn-close
{
	visibility: hidden;
}
header .btn-close i
{
	padding: 8px 10.5px;
}
header .side-nav h4,
.container .sidebar h4
{
	color: #fff;
	margin-bottom: 36px;
}
header .side-nav h4,
.container .sidebar h4,
.container .main h2
{
	position: relative;
	margin-left: 28px;
}
header .side-nav h4.active::before,
.container .sidebar h4.active::before,
.container .main h2::before
{
	position: absolute;
	content: '';
	top: -5px;
	left: -24px;
	width: 4px;
	height: 28px;
	background: #4babe9;
}
header .side-nav h4.active::before
{
	left: -27px;
}
header .side-nav h4:last-child,
.container .sidebar h4:last-child
{
	margin-bottom: unset;
}
header .side-nav h4 a,
.container .sidebar h4 a
{
	color: #fff;
	text-decoration: none;
}
header .side-nav .bottom
{
	position: absolute;
	bottom: 127px;
	left: 48px;
	display: flex;
}
header .side-nav .bottom h4
{
	margin: unset;
}
header .side-nav .bottom span
{
	width: 1px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 40px;
}
img#back-to-top
{
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	cursor: pointer;
	z-index: 10;
}
.container
{
	position: relative;
	height: 100%;
	display: flex;
	padding-top: 92px;
}
.dark
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.container .sidebar
{
	width: 400px;
	background: #00477c;
	padding: 52px 120px;
}
.container .sidebar .content
{
	position: fixed;
}
.container .main
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f8f8f8;
	padding: 30px 24px 0;
}
.container .main h2
{
	color: #004e84;
	margin-bottom: 30px;
}
.container .main h2::before
{
	top: 0;
}
.container .main .card
{
	background: #fff;
	border-radius: 8px;
	padding: 30px;
}
.container .main .card .accordion .content_box
{
	padding: 0 7px;
}
.container .main .card .accordion .content_box .title
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 4px;
	cursor: pointer;
}
.container .main .card .accordion .content_box .title h4
{
	color: #3a4856;
}
.container .main .card .accordion .content_box .title i
{
	color: #18abe3;
	transition: 0.5s;
}
.container .main .card .accordion .content_box.active .title i
{
	transform: rotate(0.5turn);
}
.container .main .card .accordion .content_box .content
{
	height: 0;
	background: #fff;
	overflow: hidden;
	transition: 0.5s;
}
.container .main .card .accordion .content_box.active .content
{
	height: 460px;
}
.container .main .card .accordion .content_box img
{
	width: 734px;
	max-height: 415px;
	object-fit: cover;
	object-position: center;
	margin-top: 32px;
}
.container .main .card .accordion hr
{
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: unset;
	margin: 24px 0;
}
.container .main h3
{
	font-size: 20px;
	color: #004e84;
	margin: 50px 0 32px;
}
.container .main .button a
{
	background: #18abe3;
	font-family: Helvetica, Sans-Serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-decoration: unset;
	border-radius: 10px;
	padding: 10px 22px;
	margin: 40px 0;
}
.container .main .button a i
{
	margin-right: 8px;
}
footer
{
	padding: 24px 0;
}
footer p
{
	font-size: 14px;
	color: #3a4856;
	line-height: 22.4px;
}

@media (max-width: 1400px)
{
	header
	{
		padding: 16px 80px;
	}
	.container .sidebar
	{
		width: 360px;
		padding: 52px 80px;
	}
}

@media (max-width: 1267px)
{
	header
	{
		padding: 16px 40px;
	}
	.container .sidebar
	{
		width: 300px;
		padding: 52px 40px;
	}
}

@media (min-width: 1127px)
{
	header .btn-close
	{
		visibility: hidden !important;
	}
	header .side-nav, .dark
	{
		display: none !important;
	}
}

@media (max-width: 1127px)
{
	header
	{
		padding: 16px 24px;
	}
	header .nav, .container .sidebar
	{
		display: none;
	}
	header .btn-menu
	{
		display: block;
	}
	.container .main .card img
	{
		width: 100% !important;
	}
}

@media (max-width: 768px)
{
	.container .main .card .accordion .content_box.active .content
	{
		height: 400px;
	}
}

@media (max-width: 627px)
{
	header
	{
		padding: 16px;
	}
	header .side-nav
	{
		top: 70.3px;
	}
	header .side-nav h4
	{
		margin-left: 18px;
	}
	header .side-nav h4.active::before
	{
		left: -18px;
	}
	header .side-nav .bottom
	{
		bottom: 105.3px;
	}
	.container
	{
		min-height: 100vh;
		padding-top: 70.3px;
	}
	.container .main
	{
		padding: 30px 0 0;
	}
	.container .main h2
	{
		font-size: 20px;
		margin-left: 44px;
	}
	.container .main .card
	{
		border-radius: unset;
		padding: 30px 16px;
	}
	.container .main .card .accordion .content_box.active .content
	{
		height: 320px;
	}
	footer
	{
		padding: 21px 16px;
	}
	footer p
	{
		text-align: center;
		font-size: 10px;
	}
}

@media (max-width: 601px)
{
	header img.logo
	{
		width: 180px;
	}
	.container .main .card .accordion .content_box.active .content
	{
		height: 280px;
	}
}

@media (max-width: 467px)
{
	.container .main .card .accordion .content_box.active .content
	{
		height: 260px;
	}
}

@media (max-width: 411px)
{
	.container .main .card .accordion .content_box.active .content
	{
		height: 240px;
	}
}

@media (max-width: 360px)
{
	.container .main .card .accordion .content_box.active .content
	{
		height: 210px;
	}
}

@media (max-width: 320px)
{
	.container .main .card .accordion .content_box.active .content
	{
		height: 190px;
	}
}