*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: Helvetica, Sans-Serif;
	overflow-x: hidden;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}
header .nav
{
	display: flex;
	align-items: center;
}
header .nav h4 a
{
	color: #3a4856;
	text-decoration: none;
}
header .nav span
{
	color: #dcdcdc;
	margin: 0 40px;
}
header .btn-menu
{
	display: none;
}
header .btn-menu,
header .btn-close
{
	position: absolute;
	right: 24px;
	cursor: pointer;
}
header i
{
	color: #fff;
	background: #18abe3;
	border-radius: 50%;
	padding: 8px 9px;
}
header .side-nav
{
	width: 280px;
	height: 100%;
	position: absolute;
	top: 92px;
	left: -100%;
	background: #00477c;
	padding-top: 24px;
	overflow-y: auto;
	transition: 0.6s ease;
	transition-property: left;
	z-index: 10;
}
header .side-nav.active
{
	left: 0;
}
header .btn-close
{
	visibility: hidden;
}
header .btn-close i
{
	padding: 8px 10.5px;
}
header .side-nav h4,
.container .sidebar h4
{
	color: #fff;
	margin-bottom: 36px;
}
header .side-nav h4,
.container .sidebar h4,
.container .main h2
{
	position: relative;
	margin-left: 28px;
}
header .side-nav h4.active::before,
.container .sidebar h4.active::before,
.container .main h2::before
{
	position: absolute;
	content: '';
	top: -5px;
	left: -24px;
	width: 4px;
	height: 28px;
	background: #4babe9;
}
header .side-nav h4.active::before
{
	left: -27px;
}
header .side-nav h4:last-child,
.container .sidebar h4:last-child
{
	margin-bottom: unset;
}
img#back-to-top
{
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	cursor: pointer;
	z-index: 10;
}
.container
{
	position: relative;
	min-height: 100vh;
	display: flex;
}
.dark
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.container .sidebar
{
	background: #00477c;
	padding: 52px 120px;
}
.container .main
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f8f8f8;
	padding: 30px 24px 0;
}
.container .main h2
{
	color: #004e84;
	margin-bottom: 30px;
}
.container .main h2::before
{
	top: 0;
}
.container .main .card
{
	background: #fff;
	border-radius: 8px;
	padding: 30px;
}
.accordion .content_box
{
	margin: 10px 0;
}
.accordion .content_box .label
{
	position: relative;
	background: #ddd;
	cursor: pointer;
}
.accordion .content_box .label::before
{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 12px;
  	height: 6px;
	background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  	background-size: contain;
  	background-repeat: no-repeat;
  	transition: transform 0.4s;
}
.accordion .content_box.active .label::before
{
	content: '';
	transform: translateY(-50%) rotate(0.5turn);
}
.accordion .content_box .content
{
	position: relative;
	background: #fff;
	height: 0;
	overflow: hidden;
	overflow-y: auto;
	transition: 0.5s;
}
.accordion .content_box.active .content
{
	height: 150px;
	padding: 10px;
}
.container .main .card img
{
	width: 734px;
	max-height: 415px;
	object-fit: cover;
	object-position: center;
}
footer
{
	padding: 24px 0;
}
footer p
{
	font-size: 14px;
	color: #3a4856;
	line-height: 22.4px;
}

@media (max-width: 1400px)
{
	header
	{
		padding: 16px 80px;
	}
	.container .sidebar
	{
		padding: 52px 80px;
	}
}

@media (max-width: 1267px)
{
	header
	{
		padding: 16px 40px;
	}
	.container .sidebar
	{
		padding: 52px 40px;
	}
}

@media (min-width: 1127px)
{
	header .btn-close
	{
		visibility: hidden !important;
	}
	header .side-nav
	{
		display: none;
	}
}

@media (max-width: 1127px)
{
	header
	{
		padding: 16px 24px;
	}
	header .nav, .container .sidebar
	{
		display: none;
	}
	header .btn-menu
	{
		display: block;
	}
	.container .main .card img
	{
		width: 100%;
	}
}

@media (max-width: 627px)
{
	header
	{
		padding: 16px;
	}
	header .side-nav
	{
		top: 70.3px;
	}
	header .side-nav h4
	{
		margin-left: 18px;
	}
	header .side-nav h4.active::before
	{
		left: -18px;
	}
	.container .main
	{
		padding: 30px 0 0;
	}
	.container .main h2
	{
		font-size: 20px;
		margin-left: 44px;
	}
	.container .main .card
	{
		border-radius: unset;
	}
	footer
	{
		padding: 21px 16px;
	}
	footer p
	{
		text-align: center;
		font-size: 10px;
	}
}

@media (max-width: 601px)
{
	header img.logo
	{
		width: 180px;
	}
}