*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: Helvetica, Sans-Serif;
	overflow-x: hidden;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}
header div
{
	display: flex;
	align-items: center;
}
header div h4 a
{
	color: #3a4856;
	text-decoration: none;
}
header div span
{
	color: #dcdcdc;
	margin: 0 40px;
}
.container
{
	display: flex;
}
.container .sidebar
{
	width: 400px;
	background: #00477c;
	padding: 52px 140px;
}
.container .sidebar h4
{
	position: relative;
	color: #fff;
}
.container .sidebar h4::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
}

@media (max-width: 1400px)
{
	header
	{
		padding: 16px 80px;
	}
}

@media (max-width: 1267px)
{
	header
	{
		padding: 16px 40px;
	}
}

@media (max-width: 627px)
{
	header
	{
		padding: 16px;
	}
}

@media (max-width: 601px)
{
	header img
	{
		width: 180px;
	}
}