@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Helvetica Neue', sans-serif;
}
header .header-top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
}
header .header-top button
{
	background: #18abe3;
	border: none;
	border-radius: 10px;
	padding: 10px 22px;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #fff;
}
header .header-content
{
	height: 640px;
	background: url('img/header-bg.png');
}