@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: Helvetica, Sans-Serif;
	overflow-x: hidden;
}
header .header-top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 120px;
}
header .header-top button,
.company button,
.member-login .content button
{
	background: #18abe3;
	border: none;
	border-radius: 10px;
	padding: 10px 22px;
}
.company button.hidden
{
	display: none;
}
header .header-top button a,
.company button a,
.member-login .content button a
{
	font-family: Helvetica, Sans-Serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-decoration: unset;
}
header .header-content
{
	height: 640px;
	display: flex;
	align-items: center;
	background: url('img/header-bg.png');
	background-size: cover;
	background-position: right;
	padding: 0 120px 60px;
	border-bottom: 1px solid #fff;
}
header .header-content, .member-login
{
	position: relative;
	justify-content: space-between;
	gap: 40px;
}
.ellipse-1
{
	position: absolute;
	top: 110px;
	left: 24px;
}
header .header-content p
{
	width: 420px;
	font-size: 28px;
	font-weight: 400;
	color: #fff;
	line-height: 42px;
	z-index: 1;
}
header .header-content p span
{
	font-weight: 700;
}
img#back-to-top
{
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: none;
	cursor: pointer;
	z-index: 10;
}
.company
{
	gap: 8%;
}
.company, .member-login
{
	display: flex;
	align-items: center;
	padding: 100px 120px;
}
.company .company-content
{
	width: 310px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.company .company-content h1
{
	font-size: 52px;
	text-align: center;
	color: #004e84;
	line-height: 62.4px;
	margin-bottom: 34px;
}
.company .company-content h1 span
{
	color: #3a4856;
}
.our-stories
{
	position: relative;
	background: #f8f8f8;
	padding: 60px 220px;
	text-align: center;
}
.swiper-slide
{
	height: 520px;
}
.ellipse-2
{
	position: absolute;
	top: -50px;
	left: 0;
}
.our-stories h1
{
	font-size: 52px;
	color: #004e84;
	margin-bottom: 16px;
}
.our-stories p
{
	color: #3a4856;
}
.our-stories .card
{
	width: 980px;
	height: 405px;
	display: flex;
	background: #fff;
	padding: 46px 100px;
	margin: 46px auto;
	border-radius: 20px;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.03);
	cursor: grab;
}
.our-stories .card img
{
	width: 220px;
	height: 220px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.our-stories .card .content
{
	position: relative;
	margin-left: 46px;
}
.our-stories .card .content span
{
	position: absolute;
	top: -26px;
	left: -2px;
	font-family: 'Inter', sans-serif;
	font-size: 150px;
	font-weight: bold;
	text-align: left;
  	color: #18abe3;
}
.our-stories .card .content p
{
	font-size: 14px;
	text-align: left;
	line-height: 22.4px;
	margin-top: 70px;
}
.our-stories .card .content h4
{
	text-align: left;
	margin-top: 46px;
}
.swiper-pagination
{
	bottom: 0 !important;
}
.swiper-button-prev
{
	left: 120px;
}
.swiper-button-next
{
	right: 120px;
}
.swiper-button-prev,
.swiper-button-next
{
	width: 40px;
	height: 40px;
}
.swiper-button-prev::after,
.swiper-button-next::after
{
	color: #3a4856;
	border: 1px solid #3a4856;
	border-radius: 50%;
	padding: 14px 18.6px;
	transform: translateY(50%);
	font-size: 20px;
}
.swiper-pagination-bullet
{
	width: 14px;
	height: 14px;
	background: unset;
	border: 1px solid #aeaeae;
	opacity: unset;
}
.swiper-pagination-bullet-active
{
	background: #aeaeae;
}
.ellipse-3
{
	position: absolute;
	bottom: -24px;
	right: 74px;
}
.member-login .content
{
	width: 374px;
}
.member-login .content,
.member-login .content .form
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.member-login .content h1
{
	font-size: 40px;
	color: #004e84
}
.member-login .content .form
{
	width: 100%;
	margin-top: 40px;
}
.member-login .content .form input
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #cecece;
	outline: none;
	padding: 10px 0;
	font-size: 16px;
	color: #3a4856;
}
.member-login .content .form input:last-child
{
	margin-top: 32px;
}
.member-login .content .form input::placeholder
{
	color: #3a4856;
}
.member-login .content button
{
	margin-top: 40px;
}
.ellipse-4
{
	position: absolute;
	bottom: 60px;
	left: 50%;
}
footer
{
	background: #f8f8f8;
	padding: 20px 120px;
}
footer p
{
	font-size: 16px;
	color: #3a4856;
	line-height: 1.6;
}

@media (max-width: 1400px)
{
	header .header-top
	{
		padding: 16px 80px;
	}
	header .header-content
	{
		padding: 0 80px 60px;
	}
	.company, .member-login
	{
		padding: 100px 80px;
	}
	.our-stories
	{
		padding: 60px 140px;
	}
	.swiper-button-prev
	{
		left: 80px;
	}
	.swiper-button-next
	{
		right: 80px;
	}
	footer
	{
		padding: 20px 80px;
	}
}

@media (max-width: 1267px)
{
	header .header-top
	{
		padding: 16px 40px;
	}
	header .header-content
	{
		padding: 0 40px 60px;
	}
	.company, .member-login
	{
		padding: 100px 40px;
	}
	.our-stories
	{
		padding: 60px 100px;
	}
	.swiper-button-prev
	{
		left: 40px;
	}
	.swiper-button-next
	{
		right: 40px;
	}
	footer
	{
		padding: 20px 40px;
	}
}

@media (max-width: 1127px)
{
	header .header-content
	{
		flex-direction: column;
		padding: 40px 40px 60px;
	}
	header .header-content
	{
		justify-content: center;
	}
	header .header-content p
	{
		width: 100%;
		text-align: center;
	}
	header .header-content img
	{
		max-width: 480px;
	}
	.company, .member-login
	{
		flex-direction: column-reverse;
	}
	.company img, .member-login img
	{
		max-width: 100%;
	}
	.company .company-content h1
	{
		width: 600px;
	}
	.company button
	{
		display: none;
	}
	.company button.hidden
	{
		display: block;
		margin-top: 40px;
	}
	.our-stories
	{
		padding: 60px;
	}
	.swiper-slide
	{
		height: 610px;
	}
	.our-stories .card
	{
		width: 480px;
		height: 496px;
		flex-direction: column;
		padding: 40px 24px;
	}
	.our-stories .card img
	{
		width: 106.5px;
		height: 106.5px;
	}
	.our-stories .card .content
	{
		margin-left: unset;
	}
	.our-stories .card .content span
	{
		top: -196px;
	}
	.our-stories .card .content p
	{
		margin-top: 21px;
	}
	.swiper-button-prev
	{
		left: 30%;
	}
	.swiper-button-next
	{
		right: 30%;
	}
	.swiper-button-prev::after,
	.swiper-button-next::after
	{
		position: absolute;
		bottom: -350px;
		transform: unset;
	}
	.member-login .content
	{
		width: 100%;
	}
}

@media (max-width: 627px)
{
	header .header-top
	{
		padding: 16px;
	}
	header .header-content
	{
		padding: 0 16px 60px;
	}
	.company, .member-login
	{
		padding: 100px 16px;
	}
	.our-stories
	{
		padding: 60px 16px;
	}
	footer
	{
		padding: 20px 16px;
	}
}

@media (max-width: 601px)
{
	header .header-top img
	{
		width: 180px;
	}
	header .header-top button a,
	.company button a,
	.member-login .content button a,
	.our-stories p, .member-login .content .form input
	{
		font-size: 14px;
	}
	.ellipse-1
	{
		width: 48px;
		top: 16px;
		left: 16px;
	}
	header .header-content p
	{
		font-size: 20px;
		line-height: 30px;
	}
	header .header-content img:last-child
	{
		width: 100%;
	}
	.company .company-content h1,
	.our-stories h1, .member-login .content h1
	{
		font-size: 28px;
		line-height: 33.6px;
	}
	.swiper-slide
	{
		height: 640px;
	}
	.our-stories .card
	{
		width: 344px;
		height: 504px;
	}
	.swiper-button-prev
	{
		left: 60px;
	}
	.swiper-button-next
	{
		right: 60px;
	}
	.ellipse-4
	{
		display: none;
	}
	footer p
	{
		font-size: 10px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}